# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output
# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.env
# .env.dev
/.vscode/launch.json
.aws-sam

# Environment files
**/.env
# **/.env.*
# **/env

# Lock files
**/package-lock.json
**/yarn.lock

# Logs
**/*.log

# Build and distribution directories
**/dist/**
**/build/**

# Node modules
**/node_modules/**

# Git and editor directories
**/.git/**
**/.vscode/**

# Temp files
**/*.tmp
